.buttons__button {
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 20px;
    color: hsl(180, 100%, 25%);
    transition:1s;
    cursor: pointer;
    background: transparent;
}

.buttons__button:hover {
    color: hsl(180, 100%, 30%);
}

.buttons__button:active {
    color:hsl(180, 100%, 35%);
}

.buttons__button:disabled {
    color: #ddd;
    cursor: auto;
}

@media(max-width:767px) {
    .buttons__button {
        border-bottom: none;
    }
}